html{
	width: 100%;
 	height: auto;
 	min-height: 100%;
 	margin: 0;
	border: 0;
}
body{
	width: 100%;
 	height: auto;
 	min-height: 100%;
	border: 0;
	margin: 0;
	background-color: #0f0f11;
	background-image: url("res/background/background.gif");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}
*, ::after, ::before {
    position: relative;
    box-sizing: inherit;
}
main{
	top: 100vh;
	position: relative;
	left: 0;
	width: 100%;
	max-width: 100%;
	height: auto;
}

.logo{
  	position: absolute;
  	left: 50%;
  	transform: translate(-50%, -50vh);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.logo img{
	border-radius: 50%;
}

.logo h1{
	text-align: center;
	font-weight: 100;
	font-size: 40px;
	font-family: "arial", sans-serif;
	color: #ffffff;
}
::-webkit-scrollbar{						
	width: 10px;
	height: 10px;
	background-color: #ffffff90;
	transition: 1s;
}
::-webkit-scrollbar-thumb{
	background: #393939;
	transition: 1s;
}
::selection {
    background: #2D9CDB40;
}
::-moz-selection {
    background: #2D9CDB40;
}
.textHelm{
	width: 100%;
	height: auto;
	margin-bottom: 100px;
	padding: 50px 0px;
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.textHelm .text{
	width: 100%;
    max-width: 720px;
    height: 100%;
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.textHelm .text p{
	text-align: justify;
	font-weight: 500;
	font-size: 25px;
	font-family: "arial", sans-serif;
	color: #1B3258;
}
.textHelm .text h1{
	text-align: center;
	font-weight: 700;
	font-size: 40px;
	font-family: "arial", sans-serif;
	color: #007d97;
}

.textHelm .text h2{
	text-align: center;
	font-weight: 400;
	font-family: "arial", sans-serif;
	color: #007d97;
}

.textHelm .text .link{
    display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;	
}
.textHelm .text .link a{
	width: auto;
	height: 10px;
	padding: 20px;
	margin-left: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	background: #2D9CDB;
	border: 2px solid #2D9CDB;
	text-align: center;
	color: #ffffff;
	text-decoration: none;
	font-family: OpenSans,sans-serif, "arial";
    text-transform: uppercase;
    letter-spacing: .075em;
	transition: 1s;
}
.textHelm .text .link a:hover{
	background: #00000000;
	color: #2D9CDB;
}
.diapo{
	width: 100%;
    position: relative;
    overflow: hidden;
}
#nav-droite, #nav-gauche{
    position: absolute;
    top: 50%;
    font-size: 3em;
}
#nav-droite{
    right: 20px;
	border-color: #ffffff;
}
#nav-gauche{
    left: 20px;
	border-color: #ffffff;
}
.elements{
    display: flex;
    transition: 1s linear;
}
.element{
    flex: 1 0 100%;
    position: relative;
}
.element > img{
    width: 100%;
}
.caption{
    position: absolute;
    width: calc(100% - 40px);
    bottom: 0;
    right: 0;
    text-align: center;
    background-color: rgba(0,0,0,0.6);
    padding-right: 20px;
    padding-left: 20px;
}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 10px;
}
.rightA{
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.leftA{
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.center{
	width: 75px;
	height: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgba(0,0,0, 0.4);
	border-radius: 50%;
	padding: 20px;
	padding-top: calc(25px/2 + 20px);
	padding-bottom: calc(25px/2 + 20px);
	transition: 1s;
	opacity: 1;
}
.none{
	opacity: 0;
}
.textHelm .text .diapo p{
	text-align: center;
	font-weight: 500;
	font-size: 25px;
	font-family: "arial", sans-serif;
	color: #f2f2f2;
}
.textHelm .text .diapo h2{
	text-align: center;
	font-weight: 500;
	font-size: 35px;
	font-family: "arial", sans-serif;
	color: #ffffff;
}

:root {
	--gradient-shadow: linear-gradient(
		45deg,
		#5865F2,
		#57F287,
		#FEE75C,
		#EB459E,
		#ED4245
	);
}

.shadow {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	color: #fff;
	text-align: center;
	font-size: 50px;
	font-weight: bold;
}
.shadow:before,
.shadow:after {
	border-radius: 50%;
	content: "";
	position: absolute;
	top: -2px;
	left: -2px;
	background: var(--gradient-shadow);
	background-size: 400%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: -1;
	animation: animate 20s linear infinite;
}

.shadow:after {
	filter: blur(20px);
}

@keyframes animate {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 300% 0;
	}
	100% {
		background-position: 0 0;
	}
}
